body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/*reset*/

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*common*/

.container {
  max-width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*Effective Solutions for Your Business
Order Service*/

.title-section {
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
  background-color: #2e2f42;
}
.main-heading {
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background-color: #2e2f42;
}

.button-title {
  cursor: pointer;
  border: none;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
}

.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}

/*Strategy end next*/

.paragraph-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.paragreph-spase {
  display: flex;
  gap: 24px;
}

.li-first {
  width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*our team*/

.section-title {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.our-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.two-ul {
  display: flex;
  gap: 24px;
}

.color-li {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
}

.name-people {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.paragraph-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*Our Portfolio*/

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.ul-our-portfolio {
  row-gap: 48px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.li-our-portfolio {
  width: calc((100% - 48px) / 3);
}

.application-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*footer*/

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.logo-footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-part {
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.paragraph-footer {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
